.section--on {
  display: block;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.features__box {
  background-color: #f5f4fa;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}

.features__text {
  margin: 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
