.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.footer__address {
  margin: 0 0 60px 0;

  @include desktop {
    margin: 0 70px 0 0;
    flex-grow: 1;
  }
}

.footer__footer-soc {
  margin: 0 0 60px 0;

  @include tablet {
    margin: 0 0 0 165px;
  }

  @include desktop {
    margin: 0 93px 0 0;
  }
}

.footer-soc__title {
  margin: 0 0 20px 0;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-color);
}
