.address__item:not(:last-child) {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 9px;
  }
}

.address__link {
  font-weight: 400;
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.address__link--textColor {
  color: var(--extra-color);
}
