.container {
  padding-left: 15px;
  padding-right: 15px;

  width: 100%;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
.container--padding {
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
  }
}
