.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
  flex-grow: 1;
}

.footer__footer-soc {
  margin-right: 93px;
}

.footer-soc__title {
  margin: 0 0 20px 0;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-color);
}
