.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: flex;
  align-items: center;
}

.navigation__link {
  display: block;
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--main-color);

  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--brand-color);
    border-radius: 2px;
    opacity: 0;
  }
}

.navigation__link--current.navigation__link::after {
  opacity: 1;
}

.info {
  margin-left: auto;
}

.info__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--text-color);
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.navigation__link--current {
  color: var(--brand-color);
}

.navigation,
.info {
  display: flex;
}

.navigation .navigation__item + .navigation__item {
  margin-left: 50px;
}

.info .info__item + .info__item {
  margin-left: 50px;
}

.info__icon {
  margin-right: 10px;
  fill: currentColor;
}
