.logo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logo-list__item {
  width: 170px;
  height: 92px;
}

.logo-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: color var(--transition), border var(--transition);
}

.logo-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: fill var(--transition);
}

.logo-list__link:hover,
.logo-list__link:focus {
  border: 1px solid var(--brand-color);
}

.logo-list__link:hover .logo-list__icon,
.logo-list__link:focus .logo-list__icon {
  fill: var(--brand-color);
}
