.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--padding-top {
  padding-top: 0;
}

.section--other-background {
  background-color: #f5f4fa;
}
.section__title {
  margin: 0 0 30px 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @include desktop {
    margin: 0 0 50px 0;
  }
}

.section__title--hidden {
  display: none;
  @include desktop {
    display: block;
  }
}
