.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-add {
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
